@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --text-color: #091413;
  --card-front-color: #FEFDDF;
  --card-back-color: #f0f7fc;
}
.cabecalho{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background-color: var (--card-back-color);
}
body {
  background: #19A7CE;
  font-family: Grandstander;
}
.cartao__conteudo {
  background-color:#F6E7BC;
  text-align: center;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms ease-in-out;
}
#container {
  display: flex;
  flex-wrap: wrap;
}
.cartao {
  margin: 1rem 1rem;
  height: 20rem;
  flex-grow: 20;
  flex-basis: calc(33% - 6rem);
}
.cartao__conteudo p {
  padding: 5rem;
}
.cartao__conteudo h3 {
  color:(#146C94);
  border: 1px solid var(#091413);
  text-align: left;
  padding: 1rem;
  position: absolute;
  margin: 0.6rem;
  border-radius: 0.6rem;
  font-size: 1vw;
}
.cartao__conteudo__pergunta p {
  color: var(--text-color);
  font-weight: 500;
}
.cartao__conteudo__resposta p {
  color:#146C94;
  font-weight: 800;
}
footer {
  background-color: #0AC4E0;
  color: rgb(245, 237, 237);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;
}
.cartao__conteudo__pergunta .cartao__conteudo__resposta{
  position:absolute;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  backface-visibility: hidden;
}
footer p {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}